body {
    background-image: url('https://pic.imgdb.cn/item/67428e60464e47f20004d25a.jpg');
    background-size: cover; /* 让图片覆盖整个背景 */
    background-position: center center; /* 背景居中 */
    background-attachment: fixed; /* 背景固定 */
}
